<br>

<h1>Éditer la mission</h1>

<br>

<%= render "form", mission: @mission %>

<br>

<div>
  <%= link_to "Montrer cette mission", @mission, class:"btn btn-edit-mission" %> 
  <%= link_to "Retour à Missions", missions_path, class:"btn btn-dark" %>
</div>



